/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-04, 10:59:48
    Author     : François
*/

html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

h1{
	color:red;
}